
#header a{
    display: block;
}
#header .img{
    display: block;
    height: 130px;
    width: 100%;
}
#menu{
    background: #333;
    height:40px;
}
#menu .menu1,.menu2,.menu3 {
    font-size:13px;
    line-height: 40px;
    float:left;
}
#menu .sep{
    color: #444;
    font-family: sans-serif;
}
#menu a{
    text-decoration: none;
    color: #cccccc;
}
#menu a:hover{
    color: white;
}
#index{
    height:110px;
    /*background-color: #cccccc;*/
}
#index .img1{
    margin-top: 23px;
    padding-left: 150px;
    float: left;
}
#index .index1{
    width: 60%;

}
#index .index1 a{
    text-decoration: none;
    color: black;
    line-height: 110px;
    float:left;
    display: block;
}
#index #search{
    padding-top: 40px;
    float:left;
}
#index a:hover{
    color:orangered;
}
#lunbotu a{
    margin-left: 150px;
    margin-bottom: 20px;
    display: block;
}
#lunbotu .datu{
    display: block;
}
#sidebar{
    background: rgba(0,0,0,0.6);
    height:460px;
    width: 236px;
    position: absolute;
    top:280px;
    left: 150px;
}
#sidebar .index2{
    margin: 0;
    padding: 20px 0;
    height: 420px;
    width: 236px;
}
#sidebar li{
    height:42px;
    line-height: 42px;
    text-indent: 15px;

}
#sidebar a{
    display: block;
    width: 100%;
    height: 100%;
    color: white;

}
#sidebar a:hover{
    background-color: orangered;
}
#container {
    width: 100%;

}
#container .span4{
    display: block;
    margin-left:150px;
    width: 234px;
    height: 170px;
    background-color: #444444;
    padding:3px;
    box-sizing: border-box;
    float: left;
    margin-bottom: 26px;
}
#container .exposure{
    display: list-item;
    float:left;
    box-sizing: border-box;
    padding-left: 10px;
}
#container a{
    color:rgba(255,255,255,0.7);
    font-size:12px;
    padding:3px;
}
#container a:hover{
    color: white;
}
#container li{
    width: 70px;;
    height: 82px;
    text-align: center;
}
#container i{
    display: block;
    height: 24px;
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 24px;

}
#xm1,#xm2,#xm3{
    padding-left: 10px;
    display: block;
    float: left;
}
#xm1 img,#xm2 img,#xm3 img{
    width: 316px;
    height: 170px;
}
#xm-plain-box{
    clear: both;
}
#xm-plain-box h2{
    text-indent: 150px;
    height: 58px;
    line-height: 58px;
}
#xm-plain-box img{
    margin: 0 37px 22px;
    width: 160px;
    height: 160px;
    display: block;
}
#xm-plain-box li{

    width: 234px;
    height: 340px;
    float: left;
    box-sizing: border-box;
    margin: 0 14px 40px 0;
    border-top: 1px solid orange;
    background-color:#fafafa;
    padding-top: 39px;

}
#xm-plain-box a{
    color: #212121;
    font-size: 16px;
    text-align: center;
}
#xm-plain-box .title1{
    margin: 0 20px 3px;
}
 .title1 a{
    display: block;
    text-align: center;
     font-size: 16px;
     color: #212121;
}
 .desc,.price,.rank{
    display: block;
    text-align: center;
}
 .desc{
     color:#b0b0b0;
     font-size: 12px;
     margin: 0 20px 12px;
     width: 214px;
     height: 18px;
}
 .rank,.comment{
     color:#b0b0b0;
     font-size: 12px;
     margin: 0 20px;
     line-height: 18px;
     width: 194px;
     height: 18px;
 }
 .price{
    color: #ff6709;
    font-size: 14px;
     margin: 0 10px 10px;
     width: 214px;
     height: 21px;
}
#xm-plain-box .recommended-products{
    width: 1240px;
    height: 380px;
    margin-left: 150px;
}
#mainly-recommended{
    background-color: rgb(245, 245, 245);
    display: block;
    height: 5480px;
    width: 100%;
    position: absolute;
    padding-top: 60px;
}
.intelligent,.collocation,.accessories,.periphery,.recommended,.products,.content,.video{
    position: relative;
}
 .home-appliances , .intelligent, .collocation ,.accessories,.periphery,.recommended,.products,.content,.video{
     width: 1240px;
     height: 680px;
     display: block;
     float: left;
     margin-left: 150px;
     margin-top: 40px;
}
.recommended{
    height: 375px;
}
.products{
    height: 488px;
}
.content{
    height: 448px;
}
.video{
    height: 410px;
}
 .mr-title{
    color: rgb(51,51,51);
    font-size: 22px;
    height: 58px;
    line-height: 58px;
    float: left;

}
 .menu-right .tab-list{
    float:right;
    padding-top: 16px;
    padding-right: 14px;
}
 .menu-right .tab-list li{
    display: inline-block;
    color: rgb(66,66,66);
    font-size: 16px;
    line-height: 24px;
    border-bottom:2px rgba(0,0,0,0) solid ;
    margin-left: 30px;

}
 .menu-right li:hover{
    color:rgb(255,103,0);
    border-bottom: solid 2px rgb(255,103,0);
}
 .span-first ul{
    display: block;
    float: left;
}
 .span-last ul{
    display: block;
    float: right;
    width: 1006px;
}
 .span-last li{
    margin: 0 0 14px 14px;
    background-color:rgb(255,255,255);
    float: left;
    display: block;
    width: 234px;
    height: 246px;
    padding: 34px 0 20px;
}
 .span-last li img{
    width: 150px;
    height: 150px;
}
 .span-last .figure-img{
    margin: 0 42px 20px;
}
del{
    color:rgb(176,176,176);
}
.flag-saleoff,.flag-new,.flag-free{
    background-color: #e53935;
    color: rgb(255,255,255);
    font-size: 12px;
    width: 64px;
    text-align: center;
    position:relative;
    top:-278px;
    left:85px;
}
.flag-new{
    background-color: rgb(131,196,78);
}
.flag-free{
    background-color: rgb(255,172,19);
}
.home-appliances .flag-new,.intelligent .flag-free,.home-appliances .flag-saleoff,.intelligent .flag-new{
    position: relative;
    top:-290px;
}
.span-first-double img{
    width: 234px;
    height: 300px;
}
.span-first-double li{
    margin-bottom:14px;
}
.intelligent .span-last,.collocation .span-last,.accessories .span-last,.periphery .span-last{
    position: relative;
    top:-628px;
}
.home-appliances .figure-img-bottom,.intelligent .figure-img-bottom,.collocation .figure-img-bottom,.accessories .figure-img-bottom,.periphery .figure-img-bottom{
    position: relative;
    left:134px;
    top:-15px;
}
.home-appliances .title2 a,.intelligent .title2 a,.collocation .title2 a,.accessories .title2 a,.periphery .title2 a{
    position: relative;
    top:-100px;
    left:30px;
    font-size: 16px;
    color: #212121;
    width: 90px;
    height: 21px;
    display: block;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
.home-appliances .price1,.collocation .price1,.intelligent .price1,.accessories .price1,.periphery .price1{
    position: relative;
    top:-100px;
    left:30px;
    color: #ff6709;
    font-size: 14px;
    margin-top: 5px;
}
.figure-more i{
    color:rgb(255,103,0);
    position: relative;
    left:150px;
    display: block;
    font-size: 48px;
}
.more{
    margin-left: 30px;
    color:rgb(51,51,51);
    font-size: 18px;
    position: relative;
    top:-50px;
}
small{
    color: rgb(117,117,117);
    margin-left: 30px;
    font-size: 12px;
}
.content1 ul,.content2 ul,.content3 ul,.content4{
    display: block;
    float: left;
}
.content1 li{
    width: 234px;
    height: 300px;
    margin: 0 0 14px 14px;
    background-color: white;
    float: left;
}
.content1 .first,.content2 .first,.content3 .first{
    margin-left: 0;
}
.content1 .content-img{
    padding: 40px 0 15px 47px;
}
.comment{
    margin-left: 80px;
    font-size: 14px;
    display: block;
    width: 100px;

}
.recommended-title{
    color: rgb(51,51,51);
    display: block;
    width: 200px;
    height: 21px;
    text-align: center;
    margin: 0 0 10px 20px;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
.content2 li{
    width: 296px;
    height: 415px;
    margin: 0 0 14px 14px;
    background-color: white ;
    float: left;
}
.content2 img{
    width: 296px;
    height: 220px;
    margin-bottom: 28px;
}
.review {
    width: 240px;
    height: 72px;
    margin: 0 28px 22px;
    font-size: 14px;
}
.review a{

    color: rgb(51,51,51);
}
.author{
    width: 230px;
    height: 18px;
    padding-right: 10px;
    margin: 0 28px 8px;
    font-size: 12px;
    color: rgb(176,176,176);
    float: left;
}
.sep1{
    color: rgb(224,224,224);
    float: left;
}
.info a,.title6{
    color: rgb(51,51,51);
    font-size: 14px;
    display: block;
    float: left;
}
.price2{
    color: #ff6709;
    font-size: 14px;
}
.info{
    margin-left: 28px;
}
.content3 li{
    padding-top: 60px;
    width: 296px;
    height: 374px;
    border-top: 1px solid rgb(255,172,19);
    background-color: white;
    float: left;
    margin-left:14px ;
}
.title2,.title3,.title4,.title5{
    text-align: center;
    margin: 0 10px 18px;
    color:rgb(255,172,19);
    font-size: 16px;
}
.content3 .desc{
    width: 200px;
    height: 40px;
    margin: 0 48px 10px;
}
.content3 img{
    margin:10px 0 0 40px;
}
.content3 .first img{
    margin: 30px 40px 0;
}
.btn-nr{
    border: 1px solid rgb(255,172,19);
    display: block;
    width: 118px;
    height: 28px;
    margin-left: 88px;
    color:rgb(255,172,19);
    text-align: center;
    line-height: 28px;
    font-size: 12px;
}
.btn-nr:hover{
    background-color:rgb(255,172,19);
    color: white;
}
.content3 .second{
    border-top: 1px solid rgb(131,196,78);
}
.title3{
    color: rgb(131,196,78);
}
.name{
    font-size: 20px;
    color:rgb(51,51,51);
    text-align: center;
}
.price3{
    color: rgb(51,51,51);
    text-align: center;
    font-size: 14px;
    margin: 0 10px 15px;
}
.content3 .third{
    border-top: 1px solid rgb(229,57,53);
}
.title4{
    color:rgb(229,57,53);
}
.content3 .forth{
    border-top: 1px solid rgb(33,150,243);
}
.title5{
    color:rgb(33,150,243);
}
.content4 li{
    width: 296px;
    height: 285px;
    background-color: white;
    float: left;
    display: block;
    margin-right:14px ;
}
.play{
    position: relative;
    top:-50px;
    left: 10px;
    color: white;
}
.play i{
    font-size: 30px;
}
.content4-img{
    width: 296px;
    height: 180px;
    margin-bottom: 28px;
}
.title6{
    width: 296px;
    text-align: center;
}
.content4 .desc{
    width: 296px;
    margin: 0;
}































