*{
    margin:0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}
body{
    height: 5000px;
}
a{
    text-decoration: none;
    color: #b89f7a;
}
p{
    margin-bottom: 14px;
    line-height: 28px;
    color: #3d3d3d;
}
li{
    list-style: none;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
/*导航栏*/
#nav{
    width: 100%;
    border-top: 4px solid #e3e3e3;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
#nav>div{
    height: 100px;
    float: left;
}
#nav .nav-menu{
    width: 40%;
}
#nav .nav-menu .nav-menu-content{
    width: 40px;
    opacity: 0.7;
    filter: alpha(opacity=70);
    text-align: center;
    margin: 27px 15px;
    cursor: pointer;
}
#nav .nav-menu .nav-menu-content:hover{
    opacity: 1;
    filter: alpha(opacity=100);
}
#nav .nav-menu span{
    font-size: 12px;
}
#nav .nav-menu img{
    padding: 5px 5px 0;
    height: 25px;
    color: #4e4e4e;
    width: 40px;
}
#nav .nav-logo{
    width: 20%;
    padding: 15px 0;
}
#nav .nav-logo img{
    width: 73px;
    position: absolute;
    left:50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
#nav .nav-login{
    width: 40%;
}
#nav .nav-login .login-content{
    float: right;
    color: #4e4e4e;
    border: 0;
    margin: 27px 15px;
    font-weight: 400;
}
#nav .nav-login .login-content span{
    font-size: 18px;
}
#nav .nav-login .login-content a{
    color: #b89f7a;
    font-weight: 700;
    font-size: 15px;
}
#nav .nav-login .login-content a:hover{
    color: #988a5a;
}
/*导航栏子菜单*/
.dialog-mask{
    background-color: #000;
    opacity: 0;
    filter: alpha(opacity:0);
    position: fixed;
    z-index: -999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#nav-sub-menu{
    width: 0;
    background: #292929;
    cursor: pointer;
    height: 100%;
    overflow-y: scroll;
    position: absolute;
    left:0;
    top:0;
    z-index: 12;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#nav-sub-menu .nav-sub-menu-first{
    border-bottom: 1px solid #525252;
}
#nav-sub-menu .nav-sub-menu-first a{
    width: 100%;
    height: 100%;
    line-height: 100%;
    display: block;
    color: #b89f7a;
}
#nav-sub-menu .nav-sub-menu-first li:hover{
    color:white;
}
#nav-sub-menu .nav-sub-menu-first li:last-child{
    padding-bottom:20px ;
}
#nav-sub-menu .nav-sub-menu-second{
    color: white;
    padding-bottom: 200px;
}
#nav-sub-menu .nav-sub-menu-second li a{
    color: white;
    width: 100%;
    height: 100%;
    line-height: 100%;
    display: block;
}
#nav-sub-menu .nav-sub-menu-second li:hover,#nav-sub-menu .nav-sub-menu-second li a:hover{
    color:#b89f7a;
}
#nav-sub-menu li{
    padding: 10px 15px;
    width: 235px;
}
#nav-sub-menu .nav-sub-menu-second li:first-child{
    padding-top: 20px;
}
#nav-sub-menu .nav-sub-menu-second ul a{
    color:#aaa;
}
/*广告图*/
#banner{
    width: 100%;
    height: 0;
    padding-top: 50%;
    position: relative;
    background: url('../img/banner_big.jpg') no-repeat center/cover;
    cursor: pointer;
}

#banner .ad{
    background: #47474A;
    color: rgba(255, 255, 255, 0.7);
    font-size: 13px;
    font-weight: 900;
    right: 32px;
    padding: 4px 6px;
    position: absolute;
    top: 20px;
    z-index: 6;
}
#banner .more{
    display: block;
    position: absolute;
    font-size: 18px;
    right: 25px;
    bottom: 20px;
    text-align: center;
    top: auto;
    color: #FFF;
    cursor: pointer;
}
@media (min-width: 993px) {
    #banner{
        padding-top: 50%;
        background: url('../img/banner_big.jpg') no-repeat center/cover;
    }
}
@media (max-width:992px)and (min-width: 768px){
    #banner{
        background-image: url('../img/banner_small.jpg');
        padding-top: 117%;
    }
}
@media (max-width: 767px){
    #banner{
        background-image: url('../img/banner_small.jpg');
        padding-top: 117%;
    }
    #banner .ad{
        font-size: 11px;
    }
    #banner .more{
        font-size: 14px;
    }
    #nav .nav-login .login-content span,#nav .nav-login .login-content a{
        font-size:12px;
    }
}

/*login 部分*/
#login{
    width: 100%;
    height: 220px;
    background-color: #0f0f0f;
    position: relative;
}
#login .login-content{
    width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content:center;
}
#login .login-content .login-left{
    width: 260px;
    height: 220px;
    padding-left: 90px;
    display: flex;
    background: url("../img/rewards_bg.png") no-repeat 0 0;
    -webkit-background-size:contain;
    background-size:contain;
    flex: 0 0 350px;
    justify-content: center;
    flex-direction: column;
}
#login .login-content .login-left span{
    width: 260px;
    height: 28px;
    display: block;
    color: #fff;
}
#login .login-content .login-left .login-left-logo{
    background: url("../img/rewards_logo_20170209.svg") no-repeat;
    width: 160px;
    height: 39px;
    background-size: contain;
}
#login .login-content .login-right{
    width: 430px;
    height: 220px;
    flex:0 0 430px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#login .login-content .login-right span{
    color: white;
}
#login .login-content .login-right .login-name{
    font-size:25px;
}
#login .login-content .login-right .login-rewords-content{
    height: 65px;
    display: flex;
    flex-direction: row;
}
#login .login-content .login-right .login-text{
    margin-bottom: 5px;
}
#login .login-content .login-right .login-register{
    border: 2px solid #a98e67;
    padding: 14px 40px;
    color: #a98e67;
    margin: 7px 14px 7px 0;
}
#login .login-content .login-right .login-register:hover{
    background-color:  #a98e67;
    color: #fff;
}
#login .login-content .login-right .login-rewords-content .login-more{
    margin-left: 30px;
    font-size: 14px;
    color: #a98e67;
    line-height: 65px;
}
#login .login-content .login-right .login-rewords-content .login-more:hover{
    color:#b89f7a;
    text-decoration: underline;
}
@media (max-width: 1200px){
    #login .login-content{
        width: 940px;
    }
}
@media(max-width: 992px){
    #login .login-content{
        width: 720px;
    }
}
@media (max-width: 768px){
    #login{
        height: auto;
    }
    #login .login-content{
        padding: 0 35px;
        width: 100%;
        display: block;
    }
    #login .login-content .login-left{
        width: 100%;
        height: 180px;
        text-align: center;
        padding: 55px;
    }
    #login .login-content .login-left span{
        width: 100%;
    }
    #login .login-content .login-left .login-left-logo{
        position: relative;
        left: 50%;
        margin-left: -67px;
    }
    #login .login-content .login-right{
        width: 100%;
        height: auto;
    }
    #login .login-content .login-right .login-name{
        width: 100%;
        text-align: center;
    }
    #login .login-content .login-right .login-text{
        width: 100%;
        margin-top: 15px;
        margin-bottom: 20px;
        text-align: center;
    }
    #login .login-content .login-right .login-rewords-content{
        width: 100%;
        height: auto;
        padding: 10px 0;
        flex-direction: column;
    }
    #login .login-content .login-right .login-register{
        padding: 14px 10%;
        width: 80%;
        text-align: center;
        margin: 0.5em auto;
    }
    #login .login-content .login-right .login-rewords-content .login-more{
        padding: 25px 0;
        text-align: right;
    }
}
/*APP 推荐*/
#app-pc,#app-mobile{
    display: block;
    position: relative;
    background-color: #efebe8;
}
#app-pc img{
    width: 100%;
    height: auto;
}
#app-pc .app-download-code{
    width: 130px;
    height: 130px;
    background: url('../img/app_qr_20171115.png') 0 0;
    -webkit-background-size:contain;
    background-size:contain;
    position: absolute;
    top:50%;
    margin-top: -65px;
    left:42%;
}
#app-pc .app-pc-content-info{
    height: 100px;
    width: 35%;
    position: absolute;
    top:50%;
    margin-top: -50px;
    left: 42%;
    margin-left: 150px;
}
#app-pc .app-pc-content-info span{
    display: block;
    width: 100%;
    margin-bottom: 14px;
    font-size: 18px;
    color: #3d3d3d;
}
#app-pc .app-pc-content-info a{
    display: block;
}
#app-pc .app-pc-content-info a:hover{
    text-decoration: underline;
    color:#b89f7a;
}
#app-mobile{
    width: 100%;
    text-align: center;
    display: none;
}
#app-mobile img{
    max-width: 100%;
}
#app-mobile span{
    font-size: 18px;
    display: block;
    width: 100%;
    padding: 4%;
    text-align: center;
    margin-bottom: 14px;
    color: #3d3d3d;
}
#app-mobile .app-mobile-logo{
    background: url("../img/udp-starbucks-cn.svg") no-repeat center center;
    height: 80px;
    display: block;
    padding: 14px 0;
    margin: 7px 14px 0 0;
}
@media (max-width: 768px) {
    #app-pc{
        display: none;
    }
    #app-mobile{
        display: block;
    }
}

/*mosaic部分*/
#mosaic{
    width: 100%;
    position: relative;
}
#mosaic .mosaic-product{
    width: 50%;
    display: block;
    float: left;
    position: relative;
}
#mosaic .mosaic-product img{
    width: 100%;
    float: left;
}
#mosaic .mosaic-product .mosaic-product-name{
    letter-spacing: normal;
    font-size: 30px;
    font-weight: 400;
    display: block;
    line-height: 38px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom:40px;
}
#mosaic .mosaic-product .mosaic-product-explanation{
    font-weight: 900;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    color: #a98e67;
    letter-spacing: 3px;
    position: absolute;
    left:0;
    bottom: 10px;
    width:100%;
    text-align: center;
}
#mosaic .mosaic-product .name-first{
    color: #d81026;
}
#mosaic .mosaic-product .explanation-first{
    color:#000;
}
#mosaic .mosaic-product .name-second{
    color: #fff;
}
@media (max-width: 768px) {
    #mosaic .mosaic-product{
        width: 100%;
    }
}

/*wsg*/
#wsg{
    height: 222px;
    width: 100%;
    background: #106e4b;
    position: relative;
}
#wsg .wsg-content{
    width: 767px;
    height: 100%;
    margin: 0 auto;
    padding: 30px 0;
}
#wsg .wsg-content .wsg-content-block{
    height: 100%;
    width: 50%;
    float: left;
}
#wsg .wsg-content .wsg-content-block .wsg-content-item{
    margin: 0 25px;
    height: 100%;
    float: left;
}
#wsg .wsg-content .wsg-content-block .wsg-content-img1{
    background: url('../img/reword.png') no-repeat center/contain;
    height: 100%;
    width: 177px;
}
#wsg .wsg-content .wsg-content-block .wsg-content-img2{
    background: url('../img/code.png') no-repeat center/contain;
    height: 100%;
    width: 106px;
}
#wsg .wsg-content .wsg-content-block .wsg-content-img3{
    width: 99px;
    height: 100%;
    background: url('../img/cup.png') no-repeat center/contain;
}
#wsg .wsg-content .wsg-content-block .wsg-content-img4{
    background: url('../img/right_reword.png') no-repeat center/contain;
    width: 184px;
    height: 100%;
}
@media (max-width: 768px){
    #wsg{
        height:382px;
    }
    #wsg .wsg-content{
        padding: 30px 35px;
        width: 100%;
    }
    #wsg .wsg-content .wsg-content-block{
        width: 100%;
        height: 172px;
        float: none;
        padding: 5px 0;
        text-align: center;
    }
    #wsg .wsg-content .wsg-content-block .wsg-content-item{
        margin: 0;
    }
    #wsg .wsg-content .wsg-content-block .wsg-content-img1{
        background: url('../img/cup.png') no-repeat center/contain;
        width: 150px;
        height: 162px;
        display: inline-block;
        position: absolute;
        left: 50%;
        margin-left: -150px;
    }
    #wsg .wsg-content .wsg-content-block .wsg-content-img2{
        background: url('../img/reword.png') no-repeat center/contain;
        height: 76px;
        width: 150px;
        display: inline-block;
        position: absolute;
        right: 50%;
        margin-right: -170px;
        top:25%;
        margin-top: -20px;
    }
    #wsg .wsg-content .wsg-content-block .wsg-content-img3{
        width: 120px;
        height: 120px;
        background: url('../img/code.png') no-repeat center/contain;
        display: inline-block;
        position: absolute;
        left: 50%;
        margin-left: -135px;
    }
    #wsg .wsg-content .wsg-content-block .wsg-content-img4{
        background: url('../img/right_reword.png') no-repeat center/contain;
        width: 180px;
        height: 92px;
        display: inline-block;
        position: absolute;
        right: 50%;
        margin-right: -185px;
    }
}

/*apple-watch-web*/

#apple-watch-web{
    height: 220px;
    width: 100%;
    background: url(../img/web-bg.png);
    text-align: center;
    display: block;
}
#apple-watch-web .watch-cn-image{
    background: url('../img/app_watch.png') no-repeat center/contain;
    display: inline-block;
    width: 408px;
    height: 100%;
}
#apple-watch-web .watch-intro{
    display: inline-block;
    vertical-align: top;
}
#apple-watch-web .watch-intro p{
    text-align: left;
    width: 480px;
    font-size: 18px;
    padding: 35px 68px 0 68px;
    line-height: 28px;
    color: #3d3d3d;
    margin-bottom: 14px;
}
#apple-watch-web .watch-code{
    display: inline-block;
    vertical-align: top;
    padding-top: 35px;
    padding-left: 20px;
    margin: 0;
}
#apple-watch-web .watch-code .app-download-code{
    width: 130px;
    height: 130px;
    background:url("../img/app_qr_20171115.png") no-repeat center/contain;
    display: inline-block;
}
#apple-watch-web .watch-code p{
    width: 130px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #3d3d3d;
    margin-bottom: 14px;
}

#apple-watch-mobile{
    position: relative;
    z-index: 10;
    display: none;
    width: 100%;
    height: 630px;
    text-align: center;
    background: url(../img/mobile-bg.png);
}
#apple-watch-mobile .watch-cn-image{
    background: url("../img/mobile-iwatch-cn.png") no-repeat center/contain;
    min-width: 300px;
    max-width: 414px;
    height: 338px;
    margin: 0 auto;
}
#apple-watch-mobile .watch-intro p{
    text-align: center;
    width: 100%;
    font-size: 18px;
    padding: 0 31px;
    line-height: 28px;
    color: #3d3d3d;
    margin-bottom: 14px;
}
#apple-watch-mobile .watch-intro p a{
    font-size: 18px;
}
#apple-watch-mobile .watch-udp-cn-btn{
    background: url("../img/udp-starbucks-cn.svg") no-repeat center;
    width: 188px;
    height: 75px;
    display: block;
    margin: 0 auto;
}
@media (max-width: 1066px) {
    #apple-watch-web{
        display: none;
    }
    #apple-watch-mobile{
        display: block;
    }
}

/*精选*/
#collection{
    width: 100%;
    padding: 80px 16px;
    box-sizing: border-box;
    background-color: #f5f5f5;
}
#collection .collection-title{
    margin: 20px 0;
    text-align: center;
    font-size: 30px;
}
#collection .collection-subtitle{
    margin-bottom: 80px;
    text-align: center;
    color: #8b8b8b;
    font-size: 18px;
}
#collection .collection-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#collection .collection-box a{
    position: relative;
    display: block;
    width: 240px;
    height: 280px;
    margin: 15px;
    text-decoration: none;
    box-shadow: 0 0 2px #ccc;
}
#collection .collection-box a img{
    width: 240px;
    height: 160px;
}
#collection .collection-box a  .collection-box-item-title{
    display: block;
    width: 240px;
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
    color: #2F2F2F;
    text-decoration: none;
    font-weight: 700;
}
#collection .collection-box a p{
    width: 240px;
    text-align: center;
    font-size: 14px;
    color: #707175;
}

@media (max-width: 667px) {
    #collection .collection-box a{
        width: 136px;
        height: 220px;
        margin: 10px;
    }
    #collection .collection-box a .collection-box-item-title{
        font-size: 18px;
        text-align: left;
        padding-left: 15px;
        width: 136px;
        height: 32px;
    }
    #collection .collection-box a img{
        width: 137px;
        height: 86px;
    }
    #collection .collection-box a p{
        text-align: left;
        padding-left: 15px;
        margin-top: 15px;
        width: 130px;
    }
    #collection .collection-box a span span{
        display: inline-block;
        width: 18px;
        height: 33px;
        line-height: 33px;
        background:url("../img/arrow.png") no-repeat bottom/contain;
        position: relative;
        bottom: -2px;
    }
}

















