*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
img {
    border: 0;
}
.vessel{
    width: 1226px;
    margin: 0 auto;
}
/*导航栏开始*/
#menu{
    background: #333;
    height:40px;
}
.menu1,.menu2,.menu3 {
    font-size:13px;
    line-height: 40px;
    float:left;
}
.menu1{
    width: 78%;
}
.menu2{
    width: 12%;
}
.menu3{
    width: 10%;
    background-color: #444444 ;
    text-align: center;
    height:40px;
    position: relative;
    transition: all ,1s,ease,0.5s;
}
#menu .sep{
    color: #444;
    font-family: sans-serif;
}
#menu a{
    color: #cccccc;
    width: 100%;
    height: 40px;

}
.menu3 a{
    display: block;
    width: 100%;
    height: 40px;
}
#menu a:hover{
    color: white;
}
#menu .menu3:hover,#menu .menu3:hover a{
    background-color: #fff;
    color: #ff6700;
}
.cart-box{
    width: 316px;
    /*height: 100px;*/
    height: 0;
    overflow: hidden;
    position: relative;
    left:-192px;
    background-color:#fff;
    line-height: 100px;
    /*display: none;*/
    color: #666666;
    z-index: 1;
    transition: all ,1s,ease,0.5s;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
.cart{
    border: 1px solid #ccc;
    border-top: 0;
}
#menu .menu3:hover .cart-box{
    /*display: block;*/
    z-index:2;
    height: 100px;
}
/*导航栏结束*/
/*index开始*/
#index{
    height:100px;
    width: 1226px;
    /*background-color: #cccccc;*/
    /*overflow: hidden;*/
}
.index1{
    width: 850px;
    float: left;
}
#index .logo{
    margin-top: 24px;
    float: left;
}
#index .logo img{
    height: 55px;
    width: 55px;
}
.nav-list{
    height: 100px;
    width: 850px;
}
.nav-list li{
    float: left;
}
#index .index1 .nav-title{
    color: black;
    line-height: 100px;
    /*float:left;*/
    display: block;
}
#index .nav-title:hover{
    color:orangered;
}
.sub-menu{
    height: 0;
    width: 100%;
    background-color: #fff;
    position: absolute;
    left: 0;
    z-index: 10;
    overflow: hidden;
    transition: all ,1s,ease,0.5s;
    box-shadow:0 2px 2px rgba(0,0,0,0.3);
}
.inner{
    border-top: 1px solid #ccc;
    /*box-shadow:0 2px 2px rgba(0,0,0,0.3);*/
    /*height: 230px;*/
    /*width: 100%;*/
    width: 100%;
    height: 100%;
    /*display: none;*/
}
.inner li{
    position: relative;
    float: left;
    width: 179px;
    padding: 35px 12px 0;
    text-align: center;
}
.inner li:before{
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    top:35px;
    width: 1px;
    height: 100px;
    background-color: #e0e0e0;
}
.inner li:first-child:before{
    content: '';
    width: 0;
}
.item-img img{
    width: 160px;
    height: 110px;
}
.flags{
    width: 64px;
    height: 18px;
    border: 1px solid rgb(255,103,0);
    position: absolute;
    top:-1px;
    left:50%;
    margin-left: -32px;
    color: rgb(255,103,0);
    font-size: 12px;
}
.flag{
    height: 18px;
    line-height: 18px;
}
.discount{
    width: 100px;
    margin-left: -50px;
}
.three-words{
    width: 76px;
    margin-left: -38px;
}
.four-words{
    width: 88px;
    margin-left:-44px;
}
.sub-item:hover .sub-menu{
    height: 231px;
}
/*.xm:hover .sub-menu,.hm:hover .sub-menu,.pb:hover sub-menu,.ds:hover sub-menu,.yy:hover sub-menu,.znyj:hover sub-menu,.lyq:hover sub-menu{*/
/*!*display: block;*!*/
/*!*height: 230px;*!*/
/*height: 231px;*/
/*}*/
#search{
    position: relative;
    float: right;
}
.searched{
    width: 245px;
    height: 50px;
    font-size: 18px;
    margin-top: 23px;
    border: 1px solid #e0e0e0;
    float: right;
    text-indent: 10px;
    outline: none;
}
#search:hover .searched,#search:hover .button{
    border-color: #bbb;
}
#search #form .searched-over{
    border-color: #e0e0e0;
}
#search #form .searched-focus{
    border: 1px solid #fa6700;
}
#search .button{
    margin-top: 23px;
    width: 50px;
    height: 50px;
    float: right;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    margin-left: -1px;
    transition: background .5s ease;
    cursor: pointer;
}
.button i{
    font-weight: bold;
    font-size: 20px;
    color: #666666;
}
#search .button:hover{
    background-color: #ff6700;
    border-color: #ff6700;
}
.button:hover i{
    color:white;
}
#keyword-list{
    width: 243px;
    height: 330px;
    background: white;
    border: #ff6700 1px solid;
    position: absolute;
    z-index: 10;
    top:72px;
    display: none;
}
.keyword-item{
    height: 30px;
}
.keyword-item a{
    color: rgba(0,0,0,0.8);
    font-size: 12px;
    padding-left:10px ;
    width: 100%;
    display: block;
    box-sizing: border-box;
    line-height: 30px;
    float: left;
}
.keyword-item a:hover{
    background-color: #fbfbfb;
}
.keyword-item .desc1{
    float: right;
    color:#ccc;
    font-size: 12px;
    margin-right:10px ;
}
.hot-words{
    height: 30px;
    float: left;
    position: absolute;
    right: 60px;
    top:33px;
}
.hot-words a{
    font-size: 12px;
    line-height: 30px;
    color:#666;
    background-color: #e0e0e0;
    padding: 0 3px;
}
.hot-words a:hover{
    background-color: #fa6700;
    color: white;
}
/*index结束*/


