#nav{
    height: 120px;
}
#nav .vessel{
    background: url('../img/logo.png') no-repeat left center ;
    position: relative;
}
#nav ul{
    height: 14px;
    position: absolute;
    left: 351px;
    top:50%;
    transform: translateY(-50%);
}
#nav li{
    float: left;
    height: 14px;
    font-size: 13px;
}
#nav li span{
    background: url("../img/sprite.png") no-repeat;
    display: block;
    float: right;
    width: 1px;
    height: 14px;
    margin: 0 25px;
}
#search{
    position: absolute;
    right: 0;
    top:50%;
    margin-top: -15px;
    height: 30px;
    width: 130px;
}
#search input{
    width: 100%;
    height: 100%;
    outline: none;
    border: 0;
    background-color: #f1f3f6;
    text-indent: 10px;
}
input::-webkit-input-placeholder{

    color: #a3a3a3;

}
#search-icon{
    background: url("../img/sprite.png") -2px 0 no-repeat;
    width: 10px;
    height: 12px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}